body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;

}


.card-row {
  display: flex; 
  gap: 16px;
  flex-wrap: wrap;
}


.card {
  display: block;
  padding: 20px;
  border-radius: 12px;
  text-decoration: none; 
  color: #000;
  background-color: #f0f8ff; 
  transition: transform 0.2s ease; 
  width: calc(20% - 80px); 
  box-sizing: border-box; 
}


.card--blue {
  background-color: #e6f7ff;
}
.card--green {
  background-color: #e6ffe6;
}
.card--orange {
  background-color: #fff2e6;
}



.card:hover {
  transform: translateY(-4px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}


.card h3 {
  font-weight: bold;
  margin: 0 0 8px 0;
}


.card p {
  font-size: 0.9em;
  margin: 0 0 12px 0;
}


.card img {
  width: 100px;
  height: auto;
  float: right;

}